@import 'animations';

$primary-text-color: #000000;
$highlight-color: #0065F2;
$highlight-dark-color: #005BD9;
$light-background-color: #F6F6F6;


/* Text */

.text-preset-1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin: 32px 0;
}

.text-preset-2 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.text-preset-3 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.card-preset-1 {
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}


/* Styles */

body, * {
  margin: 0;
  color: $primary-text-color;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

body {
  height: 100vh;
}

/* Components */

.listing {
  display: flex;
  flex-direction: column;
}


.app {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.contacts {
  background-color: $light-background-color;
  max-width: 493px;
  min-width: 360px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 0 60px;

  &__title {
    @extend .text-preset-1;
  }

  &__list {
    height: 100%;
    @extend .listing;
  }
}

.contact {
  
  @extend .card-preset-1;
  margin: 10px 0;
  padding: 16px 24px 20px 24px;
  display: flex;
  flex-direction: row;
  position: relative;

  &__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  &__names {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    @extend .text-preset-2;
  }

  &__username {
    @extend .text-preset-3;
  }
}

.dnd-switch-can-drag-cursor .contact {
  &:hover {
    cursor: move;
    cursor: grab;
  }
}


.attendees {
  background: #FFF;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  $maxWidth: 450px;

  &__title {
    @extend .text-preset-1;
    min-width: $maxWidth;
    border-bottom: 2px solid black;
  }

  &__list {
    min-width: $maxWidth;
    height: 100%;
    margin-bottom: 40px;
    border: 3px solid transparent;
    border-radius: 6px;
    padding: 10px;

    transition: background-color 0.150s ease-out, border-color 0.150s ease-out;
  
    @extend .listing;  
  }

  &--present-drop-area &__list {
    
    background-color: $highlight-color;
    //animation: wobble-hor-bottom 0.8s both;
  }

  &--activate-drop-area &__list {
    background-color: #FFF;
    border-color: $highlight-color;
  }

  &--present-drop-area .contact {
    
    * {
      visibility: hidden;
    }

    background-color: $highlight-dark-color;
    box-shadow: none;
  }

  &--activate-drop-area .contact,
  &--present-drop-area .smooth-dnd-ghost .contact  {
    * {
      visibility: visible;
    }
    visibility: visible;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.1);
    background-color: #FFF;
  }

  &--activate-drop-area .smooth-dnd-source-item .contact {
    * {
      visibility: hidden;
    }
    visibility: hidden;
  }


  &__empty-message {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    top: 32%;
    position: absolute;

    //animation: scale-in-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    p {
      margin-top: 26px;
      @extend .text-preset-3;
    }
  }

  &--hide-empty-message &__empty-message {
    visibility: hidden;
  }

  &--present-drop-area &__empty-message {
    
    visibility: visible;

    p {
     color: #FFF;
    }
    
    svg path {
      fill: #FFF;
    }
  }

  &--activate-drop-area &__empty-message {
    visibility: hidden;
  }
}

.dnd-switch-transparent-mirror .attendees--activate-drop-area .contact,
.dnd-switch-transparent-mirror .attendees--present-drop-area .smooth-dnd-ghost .contact {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Smooth DND */


.dnd-switch-transparent-mirror {
  .smooth-dnd-ghost .contact {   
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.smooth-dnd-draggable-wrapper {
  overflow: visible !important;
}

.smooth-dnd-item-placeholder {
  visibility: visible !important;
}

.dnd-switch-dragging-cursor.smooth-dnd-no-user-select * {
  cursor: grabbing;
}


.smooth-dnd-ghost {
  transition: width 0.250s ease-out;
}
